{% extends "base.html" %}

{% block replace_login_url %}
    <li>
    <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
    </li>
{% endblock %}

{% block page_content  %}

    <h1>All offers </h1> <br>


        <div id="sidebar-wrapper">
            <ul class="sidebar-wrapper" id="menu">

                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#">link1</a></li>
                        <li><a href="#">link2</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->

<div class="container">

    {% include "service_provider/grid.html" %}

    </div>
</div>


{% endblock %}