{% extends "base.html" %}




{% block error_flash_message %}
    {% if message == "error" %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}




{% block success_flash_message %}
    {% if message == "error" %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block replace_login_url %}
    <li>
    <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
    </li>
{% endblock %}

{% block page_content  %}


<div id="wrapper">
        <!-- Sidebar -->
    <h4>This is an advertising platform for any start-up or someone who does not want to spend and reach customers</h4>
        <h6>We are just information provider, we do not own or manage these offers, we do not earn anything!!!!
            we found there is a massive disconnect between consumer and service providers, here is just an effort to fill it so that both can benefit.
            If we find someone is mis-using website, we will go ahead and block them.
        </h6>

        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Search Criteria
                    </a>
                </li>

                <li>
                    <form class="form-horizontal" method="post" id="index_form" role="form" xmlns:height="http://www.w3.org/1999/xhtml">
                        <br><br>

                        <label for="distance">Maximum distance:</label>
                            <div id="slider"></div>
                        <br>
                            <input type="text" id="distance" readonly>
                        <br>

                        <label>Select Category Offers : </label>
                        <div class="block">

                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="6" name="category" value="activities" checked /><label>Activities</label>
                        </label>

                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="2" name="category" value="restaurants"  /><label>Restaurants</label>
                        </label>
                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio" id="1" name="category" value="hotel-resorts"  /><label>Hotel/Resorts</label>
                        </label>
                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="3" name="category" value="real-estate"  /><label>Real Estate</label>
                        </label>

                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="4" name="category" value="electronics"  /><label>Electronics</label>
                        </label>
                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="5" name="category" value="day-care-preschools"  /><label>Day Care/Preschool</label>
                        </label>
                        <label class="radio-inline">
                            <input onClick="category_radio();" type="radio"  id="7" name="category" value="show-all"  /><label>Show All</label>
                        </label>

                        </div>
                    </form>

                </li>


            </ul>
        </div><!-- /#sidebar-wrapper -->


    <div id="page-content-wrapper">

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}

        <div class="container">
        <div class="row">
            {% include "service_provider/grid.html" %}
        </div>
        </div>
    </div>
</div>


{% endblock %}