{% extends "base.html" %}


{% block replace_login_url %}
    <li>
    <a class="navbar-brand" href="{{auth_url}}">Login with Google</a>
    </li>
{% endblock %}


{% block page_content  %}

<div class="caption">
    <h1 align="center">This is an offer from {{offer.establishment.establishment_name}}</h1>
    <h3 class="">{{offer.offer_description}}</h3>
    <p class="">{{offer.validity}}</p>
    <p class="">{{offer.current_distance}} kms from you</p>

</div>


<div class="thumbnail">
        <!-- IMAGE CONTAINER-->
       {% set images = offer.offer_pictures_location.split(',') %}
        {% for image in images %}
            <image src="{{url_for('static',filename=image) | escape}}" height="700" width="900"/>
        {% endfor %}
</div>



{% endblock %}